[submodule "lib/p"]
	path = lib/p
	url = ../p
[submodule "lib/disorder"]
	path = lib/disorder
	url = ../disorder
[submodule "lib/x"]
	path = lib/x
	url = ../x
[submodule "lib/anemone"]
	path = lib/anemone
	url = ../anemone
[submodule "lib/snapper"]
	path = lib/snapper
	url = ../snapper
[submodule "lib/viking"]
	path = lib/viking
	url = ../viking
